<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Estatísticas das Tarefas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Estatísticas</h1>
    <p>Total de Tarefas Cadastradas: {{totalTasks}}</p>
    <a href="/">Voltar</a>
</body>
</html>